# eclipse
bin/
tmp/
*.launch
*.tmp
*.bak
*.swp
*.launch
.settings/
.metadata
.classpath
.project
local.properties

# idea
out/
*.ipr
*.iws
*.iml
.idea

# gradle
build/
.gradle

# Java
*.class
*.log
hs_err_pid*

# Windows
Thumbs.db
[Dd]esktop.ini
*.lnk

# Linux
*~

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
